.item {
  background: #f9f9f9;
  border: 1px soild #c2bfbf;
  margin-bottom: 1.4rem;
  padding: 1.4rem;
}

.item_message {
  color: #777777;
}

.item_statis-message {
  color: #777777;
  font-style: italic;
  text-align: center;
  margin: 0;
}
